body{
    background: #ffffff;
}

#hero {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center bottom;
    min-height: 600px;
}

#hero h1 {
    font-size: 100px;
}

#hero h2 {
    font-size: 40px
}