<!-- your html code here -->
<h2>Portfolio</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ducimu
    s perspiciatis ipsam excepturi quibusdam aperiam, at sapiente facere voluptas deserunt.</p>

<div class="row">
    <div class="col-4">
        <img src="https://picsum.photos/700/400" alt="">
        <h3 class="primary">Project Name</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Dolore ex voluptatum, nostrum repudiandae similique aut.</p>
    </div>
    <div class="col-4">
        <img src="https://picsum.photos/700/400" alt="">
        <h3 class="primary">Project Name</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Dolore ex voluptatum, nostrum repudiandae similique aut.</p>
    </div>
    <div class="col-4">
        <img src="https://picsum.photos/700/400" alt="">
        <h3 class="primary">Project Name</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Dolore ex voluptatum, nostrum repudiandae similique aut.</p>
    </div>
</div>