<!-- your html code here -->
<div class="container bg-white justify-content-center"></div><h2>Portfolio</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ducimu
    s perspiciatis ipsam excepturi quibusdam aperiam, at sapiente facere voluptas deserunt.</p>

<div class="row ">
    <div class="col">
        <img src="https://picsum.photos/500/200" alt="">
        <h3 class="text-primary">Project Name</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Dolore ex voluptatum, nostrum repudiandae similique aut.</p>
    </div>
    <div class="col">
        <img src="https://picsum.photos/500/200" alt="">
        <h3 class="text-primary">Project Name</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Dolore ex voluptatum, nostrum repudiandae similique aut.</p>
    </div>
    <div class="col">
        <img src="https://picsum.photos/500/200" alt="">
        <h3 class="text-primary">Project Name</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Dolore ex voluptatum, nostrum repudiandae similique aut.</p>
    </div>
</div>
</div>