<div class="container bg-white py-4">
  <h2>Portfolio</h2>
  <p>
    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
    magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  </p>

  <div class="row mt-3 g-3">
    <!-- Columna 1 -->
    <div class="col-md-4">
      <img src="/website/assets/img/big-project-image.png" class="img-fluid mb-2" alt="">
      <h5 class="text-primary mb-2">Project Name</h5>
      <p class="mb-0 small">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Dolore ex voluptatum, nostrum repudiandae similique aut.</p>
    </div>

    <!-- Columna 2 -->
    <div class="col-md-4">
      <img src="/website/assets/img/big-project-image.png" class="img-fluid mb-2" alt="">
      <h5 class="text-primary mb-2">Project Name</h5>
      <p class="mb-0 small">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Dolore ex voluptatum, nostrum repudiandae similique aut.</p>
    </div>

    <!-- Columna 3 -->
    <div class="col-md-4">
      <img src="/website/assets/img/big-project-image.png" class="img-fluid mb-2" alt="">
      <h5 class="text-primary mb-2">Project Name</h5>
      <p class="mb-0 small">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Dolore ex voluptatum, nostrum repudiandae similique aut.</p>
    </div>
  </div>
</div>
